<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Janjan">

        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".BusinessLoginActivity"/>
        <activity android:name=".BusinessRegisterActivity"/>
        <activity android:name=".AddressSearchActivity"/>
        <activity android:name=".StoreSearchActivity"/>
        <activity android:name=".ProfileSettingActivity"/>
        <activity android:name=".AppSettingActivity"/>
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".MenuAddActivity"/>
        <activity android:name=".MenuEditActivity"/>
        <activity android:name=".SettlementActivity"/>

    </application>

</manifest>